.env
.idea/
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
/services/certbot
*.egg-info/
coingeckoCoins.p
graphingDF.p
data.json
*.pyc
*.pyo
*.log
.env
data.json
tester.xlsx
test.txt
text.txt
tids.txt
dump.sql
database.env
celerybeat-schedule